Strafpunkt: $reason Stelle sicher, dass

* Nachrichten an deinen Mitspieler weder Zahlen noch Koordinaten enthalten!
* deine Antwort ausschließlich einen der beiden Befehle `$say` und `$move` und sonst nichts enthält!
